<h2>{{user.username}}'s Closet</h2>
{{#each closets}}
    <ul class="outfit-list">
        <li class="outfit-list-item"><a
                class="outfit-list-item-name"
                {{! pass in slugged collection name }}
                href="/closet/{{this.slug}}"
            >{{this.name}}</a>
            <a href="" class="edit">
                <span class="fas fa-edit"></span>
            </a>
            <a href="" class="remove">
                <span class="fas fa-times"></span>
            </a>
        </li>
    </ul>
{{/each}}