{{#if user}}
    <p>
        Hi
        {{user.username}}. Let's open your closet!
    </p>
{{else}}
    <a href="/login">Login</a>
    or
    <a href="/register">Register</a>
    to make your outfits closet.
{{/if}}