<html>
    <head>
        <title></title>
        <meta charset='="UTF-8"' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {{! Online resource }}
        {{! <link
            href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed"
            rel="stylesheet"
        /> }}

        <link
            href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap"
            rel="stylesheet"
        />

        {{! use Font Awesome }}
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
            crossorigin="anonymous"
        />

        {{! TODO: Tailwind CSS --> link output.css  }}
        <link
            rel="stylesheet"
            {{! href="/public/stylesheets/style.css" }}
            href="/stylesheets/backupStyle.css"
            type="text/css"
            media="screen"
            title="no title"
        />

    </head>
    <body>
        <style></style>

        {{! tailwind testing }}
        {{!-- <div class="flex justify-center min-h-screen items-center">
            <div class="w-1/4 p-4">
                <div class="relative pb-[200%]">
                    <img
                        class="absolute h-full w-full object-cover rounded-lg shadow-md"
                        {{! src="https://m.media-amazon.com/images/M/MV5BYzE5MjY1ZDgtMTkyNC00MTMyLThhMjAtZGI5OTE1NzFlZGJjXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_FMjpg_UX1000_.jpg" }}
                    />
                </div>
                <div class="px-4 -mt-8 relative z-10">
                    <div class="bg-white p-6 shadow-xl rounded-lg">
                        <h2>Deadpool</h2>
                    </div>
                </div>
            </div>
        </div> --}}
        {{! tailwind testing }}

        <div id="wrapper">
            {{! <div class="flex justify-between items-center py-4 bg-blue-900"> }}

            <div id="hd">
                {{! user = req.session.passport.user }}
                {{#if user}}
                    <div>Logged in as:
                        {{user.username}}
                        (<a href="/logout">Logout</a>)
                    </div>
                {{/if}}
                <h1>Closattier</h1>
            </div>
            <div id="bd">
                {{{body}}}
            </div>
            <div id="ft">
                {{! <div class="flex justify-center flex-wrap mt-4 mb-8 text-white"> }}
                {{#if user}}
                    <a href="/">Home</a>
                    |
                    <a href="/closet/">View My Closets</a>
                    |
                    <a href="/closet/create">Add a New Closet</a>
                {{/if}}
            </div>
        </div>
    </body>
</html>